*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
    

.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
   
}

.logo{
   width: 139px;
   height: 60px;
   margin: 16px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
}
.navbar .menu{
    list-style-type: none;
    display: flex;

   gap: 32px;
   width: 367px;
   height: 24px;
}
 .btn {
    padding: 12px 16px;
    width: 164px;
    height: 44px;
    background-color: rgba(15, 143, 15, 0.753);
      font-size: 16px;
    font-weight: 600px;
    color: azure;
    border-radius: 5px;
    cursor: pointer;
}
 
#banner{
    background-image: url("./B13-A01-Knowledge-Vault/assets/hero-bg.png");
    height: 676px;
    width: 1600px;
     box-sizing: border-box;
}
.banner-container {
width: 1360px;
height: 296px;
display: flex;
justify-content:space-between;
align-items: center;
flex-direction: column;
gap: 16;


}

.banner-container .banner-title {
width: 229px;
height: 36px;
display: flex;
margin: 115px 0 auto;
justify-content: center;
align-items: center;
border-radius: 50px;
background-color: white;
 color:  rgba(15, 143, 15, 0.753);
padding: 8px 12px;
}
.banner-title i {
  
    width: 10px;
    height: 10px;

      background-color: rgba(15, 143, 15, 0.753);
      border-radius: 8px;
margin-right: 10px;

 }

.section-header  {
    width: 814px;
    height: 164px;
}
.section-header h1 {
    text-align: center;
    font-size:62px;
    font-weight: 700;
    line-height: 64px;
    color: white;

}
.section-header h2 {
    text-align: center;
    font-size:62px;
    font-weight: 700;
    line-height: 64px;
    color:  rgba(15, 143, 15, 0.753);
    margin-bottom: 18px;
}
.banner-container .text {
    width: 600px;
    text-align: center;
    font-size: 18px;
    line-height: 34px;
    color: #ffffff;
    letter-spacing: 0;
    font-weight: 400;
    margin-bottom: 32px;
}
.button{
    width: 465px;
    height: 65px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.button .btn1{
      padding: 12px 24px;
    width: 250px;
    line-height: 19px;
    background-color: rgba(15, 143, 15, 0.753);
      align-items: center;
      justify-content: center;
     font-weight: 400;
       display:inline-flex;
   font-size: 14px;
    color: azure;
    border-radius: 5px;
    cursor: pointer;
    gap: 20px;
    margin-right: 8px;
  
}
.button .btn1 i {
    font-size: 14px;
}
.button .btn2 {
    width: 160px;
    line-height:15px;
    font size: 12px; 
    padding: 12px 12px 13px 14px;
    display: flex;
    justify-content: center;
    flex-direction: row;

}
.button .btn2{
    display: flex;
    border-radius: 5px;
    border: 1px solid #d4badad2;
    cursor: pointer;
     color: azure;
     background-color:rgba(228, 224, 224, 0);
}

#ideas{
    width: 1600px;
    height: 520px;
    padding-top: 45px;
   
}
.ideas-container{
    width: 68%;
    max-width: 1600px;
    margin: 0 auto;

}
 .ideas-container .heading-title h1 {
 font-size:38px;
 line-height: 40px;
 font-weight: 900;
 text-align: center;
 margin: 0 auto;
color: #001931;
 justify-content: center;

}
.heading-title .subtitle{
    height: 20px;
    font-size: 12px;
    text-align: center;
    font-weight: 400;
    color: #627382;
    margin-top: 16px;
    margin-bottom: 22px;
}
.ideas-box {
   max-width: 1550px;
    height:250px;
       display: flex;
    justify-content:center;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;

}
#ideas .ideas-box .ideas-card {
    width: 380px;
    height: 240px;
  margin-right: 16px;
    border-radius: 8px;
   padding: 24px;
   box-shadow:0 16px 50px 0 #1313133a; ;
}
.ideas-card .icon-circle {
    width: 58px;
    height: 58px;
    background-color: #F95555;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px  auto;
   
}
.ideas-card img {
    width: 25px;
    height: auto;
}
.ideas-card h3 {
    font-size: 20px;
    line-height: 29px;
    font-weight: 600;
    text-align: center;
    margin: 10px;
}
.ideas-card p {
    line-height: 20px;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    color: #8bc8dd;
}
.brain{
    width: 1600px;
    height: 600px;
    /* justify-content: center; */
    /* background-color: #8eaece; */
}
.brain .brain-section{
    display: flex;

}